html, body { 
margin: 0; 
padding: 0; 
height: 100%; 
}

iframe {
position: absolute;  
height: 100%;
width: 99%;
border: none;
box-sizing: border-box; 
-moz-box-sizing: border-box; 
 -webkit-box-sizing: border-box;
}        